body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0000;
  color: #fff;
}

header {
  background: linear-gradient(90deg, #2b0000, #550000);
  padding: 20px;
  text-align: center;
}

.games {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.card {
  background: #1a0000;
  border: 1px solid #550000;
  padding: 30px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}
